# Telegram bot
python-telegram-bot[webhooks]==21.9

# Web server
fastapi==0.115.12
uvicorn[standard]==0.34.2

# HTTP client
httpx==0.28.1

# Terabox resolver
terabox-downloader==1.8

# .env support
python-dotenv==1.1.0

# MongoDB driver
pymongo[srv]==4.10.1
